

<h1>bitcoin</h1>

<% newPrice =  @bitcoin.price.to_f * 100000000 %>
$1 USD = <%= newPrice %> Satoshis
<br>



<% data = {
  labels: ["January", "February", "March", "April", "May", "June", "July"],
  datasets: [
    {
        label: "My First dataset",
        background_color: "rgba(220,220,220,0.2)",
        border_color: "rgba(220,220,220,1)",
        data: @LastBtcPrice.all.map{|prices| prices.price}
    }
  ]
}%>
<%= line_chart data%>


<h1>All</h1>
<% @prices.each do |price| %>

  <% if price.name != "BTC" %>
    <% newPrice =  ((1 / price.price.to_f) * @bitcoin.price ) * 100000000   %>
    $1 USD worth of <%= price.name %> = <%=  newPrice %> Satoshis
    <!%= price.price %>
  <% end %>

  <br>
<% end %>
