

<h1>bitcoin</h1>

<% newPrice =  @bitcoin.price.to_f * 100000000 %>
$1 USD = <%= newPrice %> Satoshis
<br>



<% data = {
  labels: @LastBtcPrice.all.map{|prices| prices.created_at},
  datasets: [
    {
        label: "Satoshis Cost Over Time",
        background_color: "rgba(220,220,220,0.2)",
        border_color: "rgba(220,220,220,1)",
        data: @LastBtcPrice.all.map{|prices| prices.price * 100000000}
    }
  ]
}%>
<%= line_chart data%>



<div class="row">
  <div class="col-12 text-center">
    <h1>All</h1>
  </div>
</div>

<div class="row justify-content-center">
  <% @prices.each do |price| %>
    <div class="col-12 col-md-5 col-lg-3">
      <% if price.name != "BTC" %>
        <% newPrice =  ((1 / price.price.to_f) * @bitcoin.price ) * 100000000   %>
        $1 worth of <%= price.name %> = <%=  newPrice.round(3) %> Satoshis
        <% else %>
          1 BTC always = 100,000,000 Satoshis
      <% end %>
    </div>

  <% end %>
</div>
